*{
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}
ul{
    list-style-position: inside;
}
.box{
    width: 100%;
}

form{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
form fieldset{
    padding: 20px 20px;
    border: 3px solid #ccc;
}   

form legend{
    text-align: left;
    font-size: 17px;
    color:  rgb(77, 73, 73);   
}

form input[type=text]{
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    border: 1px solid #ccc; 
}

form input[type=text]:focus, form select:focus, form textarea:focus{
    outline: 0;
}

form select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: calc(80% + 26px);
    margin-top: 30px;
    padding: 10px 13px;
    display: inline-block;
}


form h2{
    margin-top: 20px;
    color: rgb(65, 57, 57);
}

.input {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.input span{
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130,130, 130);
}
form textarea{
    border: 1px solid #ccc;
    margin-top: 30px;
    width: 80%;
    height: 140px;
    padding: 10px 13px;  
    resize: none;
}

form input[type=submit] {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 30px;
        border: 0;
        width: 140px;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        border: 2px solid rgb(130, 130, 130);
        color:white;
        background-color: rgb(140, 140, 140);
        
}